
.task_card {
    width: 100%;
    min-width: 103px;
    min-height: 130px;
    border: 1px solid #d7d6d6;
    border-radius: 10px;
    padding: 15px;
    margin: 7px 0;
    cursor: move;
}

.task_card:active{
    cursor: move;
}

.task_title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 5px;
}

.task_desc {
    margin-bottom: 15px;
}

.taskStatus{
    border-radius: 20px;
    width: 15px;
    height: 15px;
}

.task_card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_card_actions {
    display: flex;
    align-items: center;
    justify-content: right;
}

.task_delete,
.task_edit {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover,
.task_edit:hover {
    background-color: #ebebeb;
}
