.column-container {
    display: flex;
    justify-content: space-evenly;
}

.form-container {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px;
    padding-bottom: 40px;
    border-bottom: 3px solid #40342e2b;
}
